# Ignore Python virtual environments
audio_analyzer_env/

# Node modules
node_modules/

# VSCode settings
.vscode/

# Mac system files
.DS_Store

# Output and logs
output/
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Other common ignores
*.pyc
__pycache__/
